description "I make life painful for developers"
native-tool disable-auto-readonly=#true {
    shell {
        overrides "git commit .*" "git push .*"
    }
    read {
        overrides ".*Cargo.toml.*"
    }
    write {
        overrides ".*Cargo.toml.*"
    }
}
