agent "base" template=#true {}
agent "aws-test" {
    inherits "base"
    hook {
        agent-spawn "whoami" {
            command "aws get caller-identity"
        }
    }
}
agent "dependabot" { inherits "aws-test"; }
