[Unit]
Description=Kiro Generator for %I

[Service]
Type=oneshot
WorkingDirectory=%I
ExecStartPre=/usr/bin/dbus-update-activation-environment --systemd --all
ExecStart=/usr/bin/kg generate
TimeoutStartSec=1min
StandardOutput=journal
StandardError=journal

# Environment
EnvironmentFile=-%E/kg/systemd/global.env
EnvironmentFile=-%E/kg/systemd/%i.env

# Security hardening
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths=%I/.kiro

[Install]
WantedBy=graphical-session.target
