[Unit]
Description=Kiro Generator for %h

[Service]
Type=oneshot
WorkingDirectory=%h
ExecStartPre=/usr/bin/dbus-update-activation-environment --systemd --all
ExecStart=/usr/bin/kg generate
TimeoutStartSec=1min
StandardOutput=journal
StandardError=journal

# Environment (system defaults, then user overrides)
EnvironmentFile=-/etc/kg/global.env
EnvironmentFile=-/etc/kg/home.env
EnvironmentFile=-%E/kg/systemd/global.env
EnvironmentFile=-%E/kg/systemd/home.env

# Security hardening
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths=%h/.kiro

[Install]
WantedBy=graphical-session.target
