prompt "you are NOT an AWS expert"
allowed-tools "@awsdocs"
resource "file://AGENTS.md"
resource "file://README.md"
native-tool {
    aws {
        allows "ec2" "s3"
    }
}
mcp "awsdocs" {
    command "blah"
    args "awslabs.aws-documentation-mcp-server@latest"
    env "FASTMCP_LOG_LEVEL" "INFO"
    env "AWS_DOCUMENTATION_PARTITION" "ec2"
}
