name: mdbook
permissions:
  contents: write # To push a branch
  pages: write # To push to a GitHub Pages site
  id-token: write # To update the deployment status
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  mdbook:
    name: mdbook
    uses: dougEfresh/ci/.github/workflows/pages.yml@main
    secrets: inherit
