name: mdbook
permissions:
  contents: write # To push a branch
  pages: write # To push to a GitHub Pages site
  id-token: write # To update the deployment status
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  verify:
    name: verify
    uses: carteramesh/ci/.github/workflows/pages.yml@main
    secrets: inherit
    with:
      runner: ${{ vars.RUNNER }}
