name: jobtaker
on:
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]
permissions:
  contents: read
  checks: write
  pull-requests: write
  id-token: write
jobs:
  jobtaker:
    name: bot
    uses: kiro-generator/ci/.github/workflows/pr-review.yml@main
    secrets: inherit
