name: verify
permissions:
  contents: read
  checks: write
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
    inputs:
      context:
        description: "context"
        required: false
        default: ""
jobs:
  verify:
    name: verify
    uses: kiro-generator/ci/.github/workflows/rust.yml@main
    secrets: inherit
    with:
      context: ${{ inputs.context }}
