name: verify
permissions:
  contents: read
  checks: write
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
    inputs:
      runner:
        description: "Runner to use"
        required: false
jobs:
  verify:
    name: verify
    if: false
    uses: carteramesh/ci/.github/workflows/rust.yml@main
    secrets: inherit
    with:
      runner: ${{ inputs.runner || vars.RUNNER }}
